
{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}


    <section class="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>komilovna</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> At totam id non exercitationem. Natus recusandae, iusto voluptate fugiat iste sequi.</p>
            <div class="home-sci">
                <a href="https://www.instagram.com/nisa_n5716/" style="--i:7"><i class="bx bxl-instagram"></i></a>
                <a href="https://t.me/developer01_25" style="--i:8"><i class="bx bxl-telegram"></i></a>
                <a href="https://github.com/komilovna25" style="--i:9"><i class="bx bxl-github"></i></a>
               
            </div>
                <a href="#" class="btn-box">More About Me</a>
        </div>
        
        <span class="home-imgHover"></span>
    </section>
    <!--  -->
    <!-- <section class="about" id="about">
        
        <div class="about-img">
            <img src="{% static 'imgs/about.webp' %}" alt="">
        </div>
        <div class="about-text">
            <h4>Full Stack Developer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia hic quis sed, enim laudantium est, reprehenderit dolore dignissimos perspiciatis repellat optio inventore maiores nostrum corporis nulla a earum in porro delectus quidem eaque esse voluptatum neque natus. Eius quasi eveniet, laborum magni facere possimus excepturi unde magnam voluptatum minus tempora numquam, nesciunt quod quia ut, nulla inventore maiores. Hic, accusamus! Ut quis cupiditate vero in quod, aperiam repellendus tempore reprehenderit!</p>
                     <a href="" class="btn-box">More About</a>
            </div>
    </section> -->
    <!--  -->
    <!-- <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Portfolio</span></h1>
                <div class="services-list">
                    
                    <div>
                    
                        <h2>React&TypeScript</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                           Fugiat impedit numquam quia amet quae omnis nam cum perferendis blanditiis saepe?</p>
                           <a href="https://github.com/komilovna25/React-TypeScript" class="read">Lern more</a>
                    </div>
                    <div>
                    
                        <h2>JavaScript</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                           Fugiat impedit numquam quia amet quae omnis nam cum perferendis blanditiis saepe?</p>
                           <a href="https://github.com/komilovna25/Weather-Hava-durumu-" class="read">Lern more</a>
                    </div>
                    <div>
                    
                        <h2>Free-Website</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                           Fugiat impedit numquam quia amet quae omnis nam cum perferendis blanditiis saepe?</p>
                           <a href="https://github.com/komilovna25/Free-Website" class="read">Lern more</a>
                    </div>
                  
                </div>
            </div>
        </div>
    </section> -->
<!--  -->
<!-- <div class="contact">
    <div class="row"> 
        <form action="/submit" method="POST" class="contact-form">
            <label for="name"></label>
            <input type="text"  id="name" name="name" placeholder="Your name " required>

            <label for="phone_number"></label>
            <input type="text" id="phone_number" name="phone_number" placeholder="Your phone_number " required>

            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email " required>

            <label for="message"></label>
            <textarea id="message" name="message" rows="5" placeholder="Message"></textarea>

            <a href="#" class="btn-box">More About Me</a>
        </form>
   
    
</div>
</div>  -->
{% endblock content %}